@import '../cssvars.scss';
@import '../variables.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;

    .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: $space-s;
        outline-offset: 0px !important;
        cursor: pointer;

        @media (max-width: $medium-screen) {
            margin-right: 1px;
        }

        .icon {
            display: inline-block;
            flex-grow: 0;
            flex-shrink: 0;
            vertical-align: top;
            margin: 0;
            margin-left: 1px;
            padding: $space-xm * 0.5;

            .img {
                display: block;
                width: 24px;
                height: 24px;
                object-fit: contain;
            }
        }

        .title {
            display: block;
            text-decoration: none;
            color: var(--brand-text);
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;

            @media (max-width: $medium-screen) {
                display: none;
            }
        }
    }

    .breadCrumb {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        .bread {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: $body-m;
            
            .path {
                display: inline-block;
                max-width: 200px;
                height: $space-xm;
                line-height: $space-xm;
                padding: 0 $space-xs;
                color: $secondary-text;
                border-radius: $radius-s;
                text-decoration: none;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &:hover {
                    background-color: var(--ui-subtle-hover);
                }

                &:active {
                    background-color: var(--ui-subtle-active);
                }
            }

            .slash {
                color: $secondary-text;
                width: $space-s;
                height: $space-xm;
                line-height: $space-xm;
                text-align: center;
            }
        }
    }

    .flex {
        display: block;
        flex-grow: 1;
    }

    .userButtons {
        display: flex;
        gap: 5px;
        margin-right: 10px;

        .hoverButton {
            display: block;
            position: relative;
            max-width: 100%;
            user-select: none;
            cursor: pointer;

            .icon {
                display: block;
                width: 38px;
                height: 38px;
                padding: 7px;

                path {
                    width: 16px;
                    height: 16px;
                    fill: var(--primary-text);
                    fill-rule: evenodd;
                }
            }

            .badge {
                position: absolute;
                top: 0;
                right: 0;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background: red;
                color: white;
                text-align: center;
                font-size: 12px;
            }

            .tooltip {
                display: none;
                position: absolute;
                z-index: 1;
                top: 110%;
                right: -30%;

                padding: 6px 12px;
                background-color: rgba(0, 0, 0, .65);
                border-radius: 2px;
                box-shadow: none;

                color: #fff;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                white-space: nowrap;
            }

            &:hover {
                color: rgba(255, 255, 255, .9);
                background-color: var(--ui-subtle-hover);
                border-radius: 50%;
    
                .tooltip {
                    display: block;
                }
            }
    
            &:active {
                background-color: var(--ui-subtle-active-hover);
            }
        }
    }
}

.progressbar {
    display: flex;
    overflow: hidden;
    position: relative;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 3px;
    margin-bottom: -3px;

    .bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: transform $ease-out-quart, opacity linear, background linear;
        transition-duration: 0ms, 350ms, 350ms;
        transform-origin: left;
        transform: scaleX(0);
        opacity: 1;
        background: $blue;
    }
}