$tabletScreen: "768px";
$smallScreen: "1100px";
$mediumScreen: "1300px";
$largeScreen: "1500px";
$azure: "#006fc8";
$cyan: "#1faece";
$primaryText: "var(--primary-text)";
$secondaryText: "var(--secondary-text)";
$chartGridColor: "var(--ui-divider)";
$gray10: "#dedede";
$msDarkBlue: "#002050";
$amberLight2: "#f7e28b";
$violetLight2: "#cec0ec";
$tealLight3: "#cfece8";
$bannerBlue: "var(--banner-blue)";
$spaceXXS: "4px";
$spaceXS: "8px";
$spaceS: "16px";
$spaceM: "20px";
$spaceXM: "24px";
$spaceL: "32px";
$spaceXL: "40px";
$spaceXXL: "60px";
$panelSlideDuration: "200ms";
$panelFadeDuration: "100ms";
$ccBannerHeight: "46px";