/* stylelint-disable declaration-block-semicolon-newline-after */
$azure-light2: #95CAF5; $azure-light1: #3F9AE4; $azure: darken(#0078D7, 3%); $azure-dark1: #005396; $azure-dark2: #0A416E;
$cyan-light2: #91E2F4; $cyan-light1: #4FCAE6; $cyan: #1FAECE; $cyan-dark1: #3192B3; $cyan-dark2: #2C7797;
$blue-light2: $azure-light2; $blue-light1: $azure-light1; $blue: $azure; $blue-dark1: $azure-dark1; $blue-dark2: $azure-dark2;
$teal-light3: #CFECE8; $teal-light2: #A3EBE1; $teal-light1: #7AD5C9; $teal: #44B8A8; $teal-dark1: #38A495; $teal-dark2: #278E80; $teal-dark3: #008571; $teal-dark4: #156C60;
$green-light3: #DFF4C3; $green-light2: #CFEFA7; $green-light1: #B3E770; $green: #91CA47; $green-dark1: #638F28; $green-dark2: #5A8622; $green-dark3: #3F6312;
$violet-light3: #F0E9FF; $violet-light2: #CEC0EC; $violet-light1: #B5A1E0; $violet: #9378CD; $violet-dark1: #7E68C2; $violet-dark2: #604B9F;
$red-light2: #F8C6BB; $red-light1: #F69781; $red: #ED411F; $red-dark1: #E2553D; $red-dark2: #BC3C26;
$amber-light2: #F7E28B; $amber-light1: #F9D33C; $amber: #F1C40F; $amber-dark1: #F0B240; $amber-dark2: #D38227; $amber-dark3: #D16F00;
$gray-light3: var(--gray-light3); $gray-light2: #F2F2F2; $gray-light1: #DEDEDE; $gray: #BFBFBF; $gray-dark1: #9C9C9C; $gray-dark2: #787878; $gray-dark3: #303030;
$vs-purple: #794090; $terracotta: #B55100; $ms-light-yellow:#FFF100; $ms-yellow: #FFBA00; $ms-light-orange: #FF8C00; $ms-orange:#D83B01; $ms-red: #E81123; $ms-dark-red: #A80000;
$ms-light-magenta:#E3008C; $ms-magenta:#B4009E; $ms-dark-magenta: #5C005C; $ms-light-blue: #00BCF2; $ms-blue: $blue; $ms-mid-blue: #00188F; $ms-dark-blue: #002050; $ms-hover-blue: #004578;
$ms-light-teal: #00B294 ; $ms-teal: #008272; $ms-dark-teal: #004B50; $ms-light-green: #BAD80A; $ms-green: #107C10; $ms-dark-green: #004B1C; $mc-pink: #cb2e63;
/* stylelint-enable declaration-block-semicolon-newline-after */

$app-center-dark-blue: #0F1D51;

// UI Colors
$ui-subtle: transparent;
$ui-subtle-hover: var(--ui-subtle-hover);
$ui-subtle-active: var(--ui-subtle-active);
$ui-subtle-active-hover: var(--ui-subtle-active-hover);
$ui-divider: var(--ui-divider);
$ui-search: var(--ui-search);
$ui-toggles: var(--ui-toggles);
$ui-toggles-border: var(--ui-toggles-border);
$ui-outline: var(--ui-outline);
$ui-table-row: var(--ui-table-row);

// Random color that keeps showing up in designs, don't know of a better name for it
$banner-blue: var(--banner-blue);

// Grays
$gray-2:  var(--gray-2); $gray-alpha-2:  rgba(0, 0, 0, 0.02);
$gray-4:  #f8f8f8; $gray-alpha-4:  rgba(0, 0, 0, 0.04);
$gray-6:  #f2f2f2; $gray-alpha-6:  rgba(0, 0, 0, 0.06);
$gray-8:  var(--gray-8); $gray-alpha-8:  rgba(0, 0, 0, 0.08);
$gray-10: #dedede; $gray-alpha-10: rgba(0, 0, 0, 0.10);
$gray-20: #bfbfbf; $gray-alpha-20: rgba(0, 0, 0, 0.20);
$gray-30: #ababab; $gray-alpha-30: rgba(0, 0, 0, 0.30);
$gray-40: #8f8f8f; $gray-alpha-40: rgba(0, 0, 0, 0.40);
$gray-50: #757575; $gray-alpha-50: rgba(0, 0, 0, 0.50);
$gray-60: #676767; $gray-alpha-60: rgba(0, 0, 0, 0.60);
$gray-70: #575757; $gray-alpha-70: rgba(0, 0, 0, 0.70);
$gray-80: #474747; $gray-alpha-80: rgba(0, 0, 0, 0.80);
$gray-90: #333333; $gray-alpha-90: rgba(0, 0, 0, 0.90);
$skeleton-gray: rgba(0, 0, 0, 0.1);

// Typography colors
$primary-text: var(--primary-text);
$black-text: rgba(0, 0, 0, 0.9); //set if text color is black in both dark mode and light mode
$secondary-text: var(--secondary-text);
$hint-text: var(--hint-text);
$disabled-text: $hint-text;
$primary-text-invert: var(--primary-text-invert);
$secondary-text-invert: var(--secondary-text-invert);//$secondary-text-invert: rgba(255, 255, 255, 0.65);
$hint-text-invert: rgba(255, 255, 255, 0.32);
$disabled-text-invert: $hint-text-invert;
$error-text: var(--error-text);
$warning-text: var(--warning-text);
$success-text: var(--success-text);
$error-text-invert: #FF6C5C;
$warning-text-invert: #F0B240;
$success-text-invert: purple;
$blue-text: var(--link-text);
$link-text: var(--link-text);
$link-text-hover: var(--link-text-hover);
$link-text-invert: $blue-light1;
$code-text: var(--code-text);

// Status colors
$status-green: $success-text;
$status-red: $error-text;
$status-teal: $teal-dark3;
$status-cyan: $cyan-dark2;
$status-blue: $link-text;
$status-amber: $amber-dark2;
$status-gray: $gray-dark2;

// Surface colors
$surface-card: var(--surface-card);
$surface-card-highlight: $gray-2;
$surface-card-active: var(--surface-card-active);
$surface-card-highlight-active: #EDF6FF;
$surface-warning: #FFFBEB;
$surface-critical: #FFF1F0;

$surface-tile: $gray-6; $surface-tile-alpha: $gray-alpha-6;
$surface-tile-highlight: #DBEEFF; $surface-tile-alpha-highlight: fade($blue, 12%);
$surface-tile-highlight-active: #CCE6FF; $surface-tile-alpha-highlight-active: fade($blue, 20%);

// Backdrop colors
$dark-backdrop: var(--dark-backdrop);
$light-backdrop: var(--light-backdrop);

// Easings
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-out-quint: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);

// Fonts
$font-stack-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$monospace-font: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

// Typography sizes
$body-s: 12px;
$body-m: 14px;
$body-l: 17px;
$title-s: 17px;
$title-m: 21px;
$title-l: 28px;

// Breakpoints
$tablet-screen: 768px;
$phone-screen-max: $tablet-screen - 1px;
$small-screen: 1100px;
$tablet-screen-max: $small-screen - 1px;
$medium-screen: 1300px;
$small-screen-max: $medium-screen - 1px;
$large-screen: 1500px;
$medium-screen-max: $large-screen - 1px;

// Inset, stack, and inline spacings
$space-xxs:  4px;
$space-xs:   8px;
$space-s:   16px;
$space-m:   20px;
$space-xm:  24px;
$space-l:   32px;
$space-xl:  40px;
$space-xxl: 60px;

// Squish spacing
$space-squish-xxs-v:  0px; $space-squish-xxs-h: 8px; $space-squish-xxs: $space-squish-xxs-v $space-squish-xxs-h;
$space-squish-xs-v:   2px; $space-squish-xs-h:  8px; $space-squish-xs:  $space-squish-xs-v  $space-squish-xs-h;
$space-squish-s-v:    6px; $space-squish-s-h:  12px; $space-squish-s:   $space-squish-s-v   $space-squish-s-h;
$space-squish-m-v:   10px; $space-squish-m-h:  12px; $space-squish-m:   $space-squish-m-v   $space-squish-m-h;
$space-squish-l-v:   12px; $space-squish-l-h:  16px; $space-squish-l:   $space-squish-l-v   $space-squish-l-h;

// List item spacing
$space-list-h:   20px;
$space-list-xs-v: 4px; $space-list-xs: $space-list-xs-v $space-list-h;
$space-list-s-v:  8px; $space-list-s:  $space-list-s-v  $space-list-h;
$space-list-m-v: 16px; $space-list-m:  $space-list-m-v  $space-list-h;
$space-list-l-v: 20px; $space-list-l:  $space-list-l-v  $space-list-h;

// Page
$page-width-constrained: 800px;

// Panels
$panel-slide-duration: 200ms;
$panel-fade-duration: 100ms;
$panel-slide-distance: 200px;
$secondary-width-sm: 280px;
$secondary-width-md: 300px;
$secondary-width-lg: 320px;
$primary-padding-mobile: $space-s;
$primary-padding-sm: $space-l;
$primary-padding-md: $space-l;
$primary-padding-lg: $space-l;
$modal-padding-mobile: $space-s;
$modal-padding-sm: $space-m;
$modal-padding-md: $space-l;
$modal-padding-lg: $space-l;
$modal-margin-sm: $space-s;
$modal-margin-md: 18px;
$modal-margin-lg: 18px;

// Input font sizes
$input-font-size-sm: 14px;
$input-font-size-md: 15px;
$input-font-size-lg: 18px;

// cookie consent banner
$cc-banner-height: 46px;

// mobile redirect banner
$mobile-banner-height: 144px;

// global top bar
$global-top-bar-height: 48px;

// Corner radius
$radius-s: 2px;
$radius-m: 4px;
$radius-l: 6px;
$radius-pill: 100vw;
$radius-circle: 100%;

// Focus
$focus-color: var(--focus-color);
$focus-spread: 3px;

:export {
  tabletScreen: $tablet-screen;
  smallScreen: $small-screen;
  mediumScreen: $medium-screen;
  largeScreen: $large-screen;

  azure: $azure;
  cyan: $cyan;
  primaryText: $primary-text;
  secondaryText: $secondary-text;
  chartGridColor: $ui-divider;
  gray10: $gray-10;
  msDarkBlue: $ms-dark-blue;
  amberLight2: $amber-light2;
  violetLight2: $violet-light2;
  tealLight3: $teal-light3;
  bannerBlue: $banner-blue;

  spaceXXS: $space-xxs;
  spaceXS: $space-xs;
  spaceS: $space-s;
  spaceM: $space-m;
  spaceXM: $space-xm;
  spaceL: $space-l;
  spaceXL: $space-xl;
  spaceXXL: $space-xxl;

  panelSlideDuration: $panel-slide-duration;
  panelFadeDuration: $panel-fade-duration;

  ccBannerHeight: $cc-banner-height;
}