@import '~@css/variables.scss';
@import '~@css/utils.scss';

.block {
  @extend .paragraph-m;
  display: block; // Block accepts a `tagName`, which could make `display` default to `inline`
  width: 100%;    //
  box-sizing: border-box;
  &:link {
    text-decoration: none; // Reset text decoration for links
  }

  [data-panel-position=secondary] &, [data-panel-position=hidden] & {
    background-color: unset;
    padding: unset;
    box-shadow: unset;
  }
}

// Border Radii
.border-radius-small { @extend .rounded-sm; }
.border-radius-medium { @extend .rounded-m; }
.border-radius-large { @extend .rounded-lg; }

// Paddings

.block-padding.flush { padding-top: 0; }

.padding-default {
  @extend .block-padding;
  @extend .padding-m;
  html[data-supports-mobile=true] & {
    @media (max-width: $phone-screen-max) {
      padding: $space-s;
    }
  }
}

.padding-panel {
  @extend .block-padding;
  padding: $primary-padding-sm;
  @media (min-width: $medium-screen) { padding: $primary-padding-md; }
  @media (min-width: $large-screen) { padding: $primary-padding-lg; }
  html[data-supports-mobile=true] & {
    @media (max-width: $phone-screen-max) {
      padding: $primary-padding-mobile;
      &.flush { padding-top: 0; } // Specificity hack; can possibly remove this after html[data-supports-mobile] goes away
    }
  }
}

.padding-modal {
  @extend .block-padding;
  padding: $modal-padding-sm;
  @media (min-width: $medium-screen) { padding: $modal-padding-md; }
  @media (min-width: $large-screen) { padding: $modal-padding-lg; }
  html[data-supports-mobile=true] & {
    @media (max-width: $phone-screen-max) {
      padding: $modal-padding-mobile;
      &.flush { padding-top: 0; } // Specificity hack; can possibly remove this after html[data-supports-mobile] goes away
    }
  }
}

// Headers
.with-header { padding-top: 0; }
.hero {
  display: flex;
  justify-content: center;
  padding-top: $space-m;
}

// Backgrounds

.background-white { background-color: $surface-card; }
.background-gray { background-color: var(--gray-background); }

// Shadows

$shadow-border: inset 0 0 0 1px rgba(0, 0, 0, 0.06);

$shadow-card-subtle: 0 3px 6px rgba(0, 0, 0, 0.06);
$shadow-card-intense: 0 3px 6px rgba(0, 0, 0, 0.12);

$shadow-overlay-subtle: 0 0 32px rgba(0, 0, 0, 0.06);
$shadow-overlay-medium: 0 6px 12px rgba(0, 0, 0, 0.06);
$shadow-overlay-intense: 0 12px 32px rgba(0, 0, 0, 0.12);

.shadow-none-bordered { box-shadow: $shadow-border; }
.shadow-card-subtle { box-shadow: $shadow-card-subtle; }
.shadow-card-subtle-bordered { box-shadow: $shadow-card-subtle, $shadow-border; }
.shadow-card-intense { box-shadow: $shadow-card-intense; }
.shadow-card-intense-bordered { box-shadow: $shadow-card-intense, $shadow-border; }
.shadow-overlay-subtle { box-shadow: $shadow-overlay-subtle; }
.shadow-overlay-medium { box-shadow: $shadow-overlay-medium; }
.shadow-overlay-intense { box-shadow: $shadow-overlay-intense; }
