:root {
  /* grays */
  --gray-light3: #F8F8F8;
  --gray-2: #fcfcfc;
  --gray-3: #a3a3a3;
  --gray-4: #b5b5b5;
  --gray-5: #c7c7c7;
  --gray-6: #d9d9d9;
  --gray-7: #ebebeb;
  --gray-8: #fcfcfc;
  --secondary-panel: #F2F2F2;
  --alpha-8: rgba(0, 0, 0, .08);
  --alpha-10: rgba(0, 0, 0, .1);
  --alpha-20:rgba(0, 0, 0, .2);
  --alpha-30:rgba(0, 0, 0, .3);
  --alpha-80: rgba(0, 0, 0, .8);
  --primary-text: rgba(0, 0, 0, 0.9);
  --primary-text-invert: rgba(255, 255, 255, 1);
  --secondary-text: rgba(0, 0, 0, 0.82);
  --secondary-text-invert: rgba(255, 255, 255, 0.59);
  --always-light-text: rgba(255, 255, 255, 1);
  --hint-text: rgba(0, 0, 0, 0.38);
  --error-text: #DB0D1F;
  --warning-text: #B55100;
  --success-text: #4D7A14;
  --link-text: #006dc7;
  --link-text-hover: #004578;
  --brand-text: #cb2e63;
  --code-text: #614CA0;
  --chart-count-red: #E81123;
  --chart-count-violet: #614CA0;
  --chart-count-orange: #B55100;
  --code-class-name: #614CA0;
  --code-method: #156C60;
  --code-method-app-code: #007d85;
  --code-method-params: #006fc8;
  --stacktrace-thread-title-crashed: #C43E27;
  --series-text-color: #90720e;
  --enable-text: #416514;
  --delete-text: #DB0D1F;
  --surface-card: #FFFFFF;
  --surface-card-rgb: 255, 255, 255;
  --surface-card-active: #F5FAFF;
  --surface-tile-highlight:#DBEEFF;
  --surface-tile-highlight-active:#CCE6FF;
  --top-bar: var(--surface-card);
  --toast-bd: rgba(0, 0, 0, .65);
  --toast-text: white;
  --action-list: rgba(0, 0, 0, .04);
  --action-list-hover: rgba(0, 0, 0, .1);
  --upload-inset-bg: #F8F8F8;
  --focus-color: rgba(0, 109, 199, 0.75);
  --ui-subtle-hover: rgba(0, 0, 0, 0.04);
  --ui-subtle-active: rgba(0, 0, 0, 0.06);
  --ui-subtle-active-hover: rgba(0, 0, 0, 0.08);
  --ui-divider: rgba(0, 0, 0, 0.15);
  --ui-search: rgba(0, 0, 0, 0.06);
  --ui-toggles: white;
  --ui-toggles-border: rgba(0, 0, 0, 0.19);
  --ui-outline: #DEDEDE;
  --ui-table-row: #EBEBEB;
  --text-field: var(--surface-card);
  --text-field-outline: var(--ui-outline);
  --text-field-disabled: #F2F2F2;
  --grid-container-row: rgba(0, 0, 0, 0.06);
  --box-shadow: rgba(0, 0, 0, 0.1);
  --gray-background: rgba(0,0,0,0.04);
  --error-bg: rgba(248, 197, 186, 0.3);
  --warning-bg: #f8f1d8;
  --info-bg: #DEDEDE;
  --syntax-token1: #008000;
  --syntax-token2: #DF0000;
  --syntax-token3: #a31515;
  --syntax-token4: #001080;
  --syntax-token5: #0000ff;
  --syntax-token6: #795E26;
  --syntax-token7: #811f3f;
  --syntax-token8: #267f99;
  --terminal-bg: #575757;
  --codeblock-bg: #F2F2F2;
  --banner-blue: #CEE5F8;
  --repo-badge-bg: #f7ebb6;
  --highlight-bg: #F9D33C;
  --subhighlight-bg: #F7E28B;
  --clickable-icon-disabled: rgba(0, 0, 0, 0.3);
  --dark-backdrop: rgba(0, 0, 0, 0.12);
  --light-backdrop: rgba(0, 0, 0, 0.03);
  --charts-map-bg: #e5e5e5;
  --charts-map-border: rgba(255,255,255,0.1);
  --charts-cyan: #1faece;
}

html[data-dark-theme=true][data-prefers-color-scheme=dark] {
  /* grays */
  --gray-light3: #212121;
  --gray-2: rgba(255, 255, 255, 0.04);
  --gray-3: #a3a3a3;
  --gray-4: #898989;
  --gray-5: #6f6f6f;
  --gray-6: #555555;
  --gray-7: #3b3b3b;
  --gray-8: #2D2D2D;
  --alpha-8: rgba(255, 255, 255, .08);
  --alpha-10: rgba(255, 255, 255, .1);
  --alpha-20:rgba(255, 255, 255, .2);
  --alpha-30:rgba(255, 255, 255, .3);
  --alpha-80: rgba(255, 255, 255, .8);
  --secondary-panel: #262626;
  /* typography */
  --primary-text: rgba(255, 255, 255, 1);
  --primary-text-invert: rgba(0, 0, 0, 0.9);
  --secondary-text: rgba(255, 255, 255, 0.59);
  --secondary-text-invert: rgba(0, 0, 0, 0.59);
  --hint-text: rgba(255, 255, 255, 0.38);
  --error-text: #FF9090;
  --warning-text: #F0B240;
  --success-text: #91CA47;
  --link-text: #5AB9FF;
  --link-text-hover: #3292e2;
  --brand-text: #F0467E;
  --code-text: #B5A1E0;
  --chart-count-red: #F7737E;
  --chart-count-violet: #B5A1E0;
  --chart-count-orange: #E28A42;
  --code-class-name: #bfaae9;
  --code-method: #3cc0ad;
  --code-method-app-code: #00e1c1;
  --code-method-params: #7eb5e2;
  --stacktrace-thread-title-crashed: #ec9787;
  --series-text-color: #EBC137;
  --enable-text: #a5f042;
  --delete-text: #ff8282;
  /* surface */
  --surface-card: #333333;
  --surface-card-rgb: 51, 51, 51;
  --surface-card-active: #223B59;
  --surface-tile-highlight: #223B59;
  --surface-tile-highlight-active: #2C4C73;
  --top-bar: #1A1A1A;
  --toast-bd: rgba(255, 255, 255, .65);
  --toast-text: rgba(0, 0, 0, 0.9);
  --action-list: rgba(255, 255, 255, .08);
  --action-list-hover: rgba(255, 255, 255, .15);
  --upload-inset-bg: #2E2D2C;
  --focus-color: rgba(90, 185, 255, 0.7);
  --ui-subtle-hover: rgba(255, 255, 255, 0.04);
  --ui-subtle-active: rgba(255, 255, 255, 0.06);
  --ui-subtle-active-hover: rgba(255, 255, 255, 0.08);
  --ui-divider: rgba(255, 255, 255, 0.15);
  --ui-search: #434343;
  --ui-toggles: transparent;
  --ui-toggles-border: rgba(255, 255, 255, 0.32);
  --ui-outline: rgba(255, 255, 255, 0.16);
  --ui-table-row: rgba(255, 255, 255, 0.08);
  --text-field: #424141;
  --text-field-outline: #605E5C;
  --text-field-disabled: #424141;
  --grid-container-row: rgba(255, 255, 255, 0.06);
  --box-shadow: rgba(255, 255, 255, 0.1);
  --gray-background: #424141;
  --error-bg: #6F2722;
  --warning-bg: #6F6022;
  --info-bg: rgba(255,255,255,.08);
  --syntax-token1: #B1B1B1;
  --syntax-token2: #FF6959;
  --syntax-token3: #CD917A;
  --syntax-token4: #599DD4;
  --syntax-token5: #9EDDFC;
  --syntax-token6: #DCDBAC;
  --syntax-token7: #599DD4;
  --syntax-token8: #54C8B0;
  --terminal-bg: #0F0F0F;
  --codeblock-bg: rgba(0,0,0, 0.36);
  --banner-blue: rgba(0, 135, 255, 0.3);
  --repo-badge-bg: #ad9f56;
  --highlight-bg: #D16F00;
  --subhighlight-bg: #E7963B;
  --clickable-icon-disabled: rgba(255, 255, 255, 0.3);
  --dark-backdrop: rgba(0, 0, 0, 0.36);
  --light-backdrop: rgba(0, 0, 0, 0.09);
  --charts-map-border: rgba(0,0,0,0.1);
  --charts-map-bg: #484848;
}

/* stylelint-disable declaration-block-semicolon-newline-after */

/* stylelint-enable declaration-block-semicolon-newline-after */

._container_1jo64_216 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

._container_1jo64_216 ._logo_1jo64_222 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 16px;
  outline-offset: 0px !important;
  cursor: pointer;
}

@media (max-width: 1300px) {
  ._container_1jo64_216 ._logo_1jo64_222 {
    margin-right: 1px;
  }
}

._container_1jo64_216 ._logo_1jo64_222 ._icon_1jo64_235 {
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  vertical-align: top;
  margin: 0;
  margin-left: 1px;
  padding: 12px;
}

._container_1jo64_216 ._logo_1jo64_222 ._icon_1jo64_235 ._img_1jo64_244 {
  display: block;
  width: 24px;
  height: 24px;
  object-fit: contain;
}

._container_1jo64_216 ._logo_1jo64_222 ._title_1jo64_250 {
  display: block;
  text-decoration: none;
  color: var(--brand-text);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

@media (max-width: 1300px) {
  ._container_1jo64_216 ._logo_1jo64_222 ._title_1jo64_250 {
    display: none;
  }
}

._container_1jo64_216 ._breadCrumb_1jo64_263 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

._container_1jo64_216 ._breadCrumb_1jo64_263 ._bread_1jo64_263 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}

._container_1jo64_216 ._breadCrumb_1jo64_263 ._bread_1jo64_263 ._path_1jo64_275 {
  display: inline-block;
  max-width: 200px;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
  color: var(--secondary-text);
  border-radius: 2px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._container_1jo64_216 ._breadCrumb_1jo64_263 ._bread_1jo64_263 ._path_1jo64_275:hover {
  background-color: var(--ui-subtle-hover);
}

._container_1jo64_216 ._breadCrumb_1jo64_263 ._bread_1jo64_263 ._path_1jo64_275:active {
  background-color: var(--ui-subtle-active);
}

._container_1jo64_216 ._breadCrumb_1jo64_263 ._bread_1jo64_263 ._slash_1jo64_294 {
  color: var(--secondary-text);
  width: 16px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

._container_1jo64_216 ._flex_1jo64_301 {
  display: block;
  flex-grow: 1;
}

._container_1jo64_216 ._userButtons_1jo64_305 {
  display: flex;
  gap: 5px;
  margin-right: 10px;
}

._container_1jo64_216 ._userButtons_1jo64_305 ._hoverButton_1jo64_310 {
  display: block;
  position: relative;
  max-width: 100%;
  user-select: none;
  cursor: pointer;
}

._container_1jo64_216 ._userButtons_1jo64_305 ._hoverButton_1jo64_310 ._icon_1jo64_235 {
  display: block;
  width: 38px;
  height: 38px;
  padding: 7px;
}

._container_1jo64_216 ._userButtons_1jo64_305 ._hoverButton_1jo64_310 ._icon_1jo64_235 path {
  width: 16px;
  height: 16px;
  fill: var(--primary-text);
  fill-rule: evenodd;
}

._container_1jo64_216 ._userButtons_1jo64_305 ._hoverButton_1jo64_310 ._badge_1jo64_329 {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: red;
  color: white;
  text-align: center;
  font-size: 12px;
}

._container_1jo64_216 ._userButtons_1jo64_305 ._hoverButton_1jo64_310 ._tooltip_1jo64_341 {
  display: none;
  position: absolute;
  z-index: 1;
  top: 110%;
  right: -30%;
  padding: 6px 12px;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 2px;
  box-shadow: none;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
}

._container_1jo64_216 ._userButtons_1jo64_305 ._hoverButton_1jo64_310:hover {
  color: rgba(255, 255, 255, 0.9);
  background-color: var(--ui-subtle-hover);
  border-radius: 50%;
}

._container_1jo64_216 ._userButtons_1jo64_305 ._hoverButton_1jo64_310:hover ._tooltip_1jo64_341 {
  display: block;
}

._container_1jo64_216 ._userButtons_1jo64_305 ._hoverButton_1jo64_310:active {
  background-color: var(--ui-subtle-active-hover);
}

._progressbar_1jo64_369 {
  display: flex;
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 3px;
  margin-bottom: -3px;
}

._progressbar_1jo64_369 ._bar_1jo64_380 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: transform cubic-bezier(0.165, 0.84, 0.44, 1), opacity linear, background linear;
  transition-duration: 0ms, 350ms, 350ms;
  transform-origin: left;
  transform: scaleX(0);
  opacity: 1;
  background: #006fc8;
}:root {
  /* grays */
  --gray-light3: #F8F8F8;
  --gray-2: #fcfcfc;
  --gray-3: #a3a3a3;
  --gray-4: #b5b5b5;
  --gray-5: #c7c7c7;
  --gray-6: #d9d9d9;
  --gray-7: #ebebeb;
  --gray-8: #fcfcfc;
  --secondary-panel: #F2F2F2;
  --alpha-8: rgba(0, 0, 0, .08);
  --alpha-10: rgba(0, 0, 0, .1);
  --alpha-20:rgba(0, 0, 0, .2);
  --alpha-30:rgba(0, 0, 0, .3);
  --alpha-80: rgba(0, 0, 0, .8);
  --primary-text: rgba(0, 0, 0, 0.9);
  --primary-text-invert: rgba(255, 255, 255, 1);
  --secondary-text: rgba(0, 0, 0, 0.82);
  --secondary-text-invert: rgba(255, 255, 255, 0.59);
  --always-light-text: rgba(255, 255, 255, 1);
  --hint-text: rgba(0, 0, 0, 0.38);
  --error-text: #DB0D1F;
  --warning-text: #B55100;
  --success-text: #4D7A14;
  --link-text: #006dc7;
  --link-text-hover: #004578;
  --brand-text: #cb2e63;
  --code-text: #614CA0;
  --chart-count-red: #E81123;
  --chart-count-violet: #614CA0;
  --chart-count-orange: #B55100;
  --code-class-name: #614CA0;
  --code-method: #156C60;
  --code-method-app-code: #007d85;
  --code-method-params: #006fc8;
  --stacktrace-thread-title-crashed: #C43E27;
  --series-text-color: #90720e;
  --enable-text: #416514;
  --delete-text: #DB0D1F;
  --surface-card: #FFFFFF;
  --surface-card-rgb: 255, 255, 255;
  --surface-card-active: #F5FAFF;
  --surface-tile-highlight:#DBEEFF;
  --surface-tile-highlight-active:#CCE6FF;
  --top-bar: var(--surface-card);
  --toast-bd: rgba(0, 0, 0, .65);
  --toast-text: white;
  --action-list: rgba(0, 0, 0, .04);
  --action-list-hover: rgba(0, 0, 0, .1);
  --upload-inset-bg: #F8F8F8;
  --focus-color: rgba(0, 109, 199, 0.75);
  --ui-subtle-hover: rgba(0, 0, 0, 0.04);
  --ui-subtle-active: rgba(0, 0, 0, 0.06);
  --ui-subtle-active-hover: rgba(0, 0, 0, 0.08);
  --ui-divider: rgba(0, 0, 0, 0.15);
  --ui-search: rgba(0, 0, 0, 0.06);
  --ui-toggles: white;
  --ui-toggles-border: rgba(0, 0, 0, 0.19);
  --ui-outline: #DEDEDE;
  --ui-table-row: #EBEBEB;
  --text-field: var(--surface-card);
  --text-field-outline: var(--ui-outline);
  --text-field-disabled: #F2F2F2;
  --grid-container-row: rgba(0, 0, 0, 0.06);
  --box-shadow: rgba(0, 0, 0, 0.1);
  --gray-background: rgba(0,0,0,0.04);
  --error-bg: rgba(248, 197, 186, 0.3);
  --warning-bg: #f8f1d8;
  --info-bg: #DEDEDE;
  --syntax-token1: #008000;
  --syntax-token2: #DF0000;
  --syntax-token3: #a31515;
  --syntax-token4: #001080;
  --syntax-token5: #0000ff;
  --syntax-token6: #795E26;
  --syntax-token7: #811f3f;
  --syntax-token8: #267f99;
  --terminal-bg: #575757;
  --codeblock-bg: #F2F2F2;
  --banner-blue: #CEE5F8;
  --repo-badge-bg: #f7ebb6;
  --highlight-bg: #F9D33C;
  --subhighlight-bg: #F7E28B;
  --clickable-icon-disabled: rgba(0, 0, 0, 0.3);
  --dark-backdrop: rgba(0, 0, 0, 0.12);
  --light-backdrop: rgba(0, 0, 0, 0.03);
  --charts-map-bg: #e5e5e5;
  --charts-map-border: rgba(255,255,255,0.1);
  --charts-cyan: #1faece;
}

html[data-dark-theme=true][data-prefers-color-scheme=dark] {
  /* grays */
  --gray-light3: #212121;
  --gray-2: rgba(255, 255, 255, 0.04);
  --gray-3: #a3a3a3;
  --gray-4: #898989;
  --gray-5: #6f6f6f;
  --gray-6: #555555;
  --gray-7: #3b3b3b;
  --gray-8: #2D2D2D;
  --alpha-8: rgba(255, 255, 255, .08);
  --alpha-10: rgba(255, 255, 255, .1);
  --alpha-20:rgba(255, 255, 255, .2);
  --alpha-30:rgba(255, 255, 255, .3);
  --alpha-80: rgba(255, 255, 255, .8);
  --secondary-panel: #262626;
  /* typography */
  --primary-text: rgba(255, 255, 255, 1);
  --primary-text-invert: rgba(0, 0, 0, 0.9);
  --secondary-text: rgba(255, 255, 255, 0.59);
  --secondary-text-invert: rgba(0, 0, 0, 0.59);
  --hint-text: rgba(255, 255, 255, 0.38);
  --error-text: #FF9090;
  --warning-text: #F0B240;
  --success-text: #91CA47;
  --link-text: #5AB9FF;
  --link-text-hover: #3292e2;
  --brand-text: #F0467E;
  --code-text: #B5A1E0;
  --chart-count-red: #F7737E;
  --chart-count-violet: #B5A1E0;
  --chart-count-orange: #E28A42;
  --code-class-name: #bfaae9;
  --code-method: #3cc0ad;
  --code-method-app-code: #00e1c1;
  --code-method-params: #7eb5e2;
  --stacktrace-thread-title-crashed: #ec9787;
  --series-text-color: #EBC137;
  --enable-text: #a5f042;
  --delete-text: #ff8282;
  /* surface */
  --surface-card: #333333;
  --surface-card-rgb: 51, 51, 51;
  --surface-card-active: #223B59;
  --surface-tile-highlight: #223B59;
  --surface-tile-highlight-active: #2C4C73;
  --top-bar: #1A1A1A;
  --toast-bd: rgba(255, 255, 255, .65);
  --toast-text: rgba(0, 0, 0, 0.9);
  --action-list: rgba(255, 255, 255, .08);
  --action-list-hover: rgba(255, 255, 255, .15);
  --upload-inset-bg: #2E2D2C;
  --focus-color: rgba(90, 185, 255, 0.7);
  --ui-subtle-hover: rgba(255, 255, 255, 0.04);
  --ui-subtle-active: rgba(255, 255, 255, 0.06);
  --ui-subtle-active-hover: rgba(255, 255, 255, 0.08);
  --ui-divider: rgba(255, 255, 255, 0.15);
  --ui-search: #434343;
  --ui-toggles: transparent;
  --ui-toggles-border: rgba(255, 255, 255, 0.32);
  --ui-outline: rgba(255, 255, 255, 0.16);
  --ui-table-row: rgba(255, 255, 255, 0.08);
  --text-field: #424141;
  --text-field-outline: #605E5C;
  --text-field-disabled: #424141;
  --grid-container-row: rgba(255, 255, 255, 0.06);
  --box-shadow: rgba(255, 255, 255, 0.1);
  --gray-background: #424141;
  --error-bg: #6F2722;
  --warning-bg: #6F6022;
  --info-bg: rgba(255,255,255,.08);
  --syntax-token1: #B1B1B1;
  --syntax-token2: #FF6959;
  --syntax-token3: #CD917A;
  --syntax-token4: #599DD4;
  --syntax-token5: #9EDDFC;
  --syntax-token6: #DCDBAC;
  --syntax-token7: #599DD4;
  --syntax-token8: #54C8B0;
  --terminal-bg: #0F0F0F;
  --codeblock-bg: rgba(0,0,0, 0.36);
  --banner-blue: rgba(0, 135, 255, 0.3);
  --repo-badge-bg: #ad9f56;
  --highlight-bg: #D16F00;
  --subhighlight-bg: #E7963B;
  --clickable-icon-disabled: rgba(255, 255, 255, 0.3);
  --dark-backdrop: rgba(0, 0, 0, 0.36);
  --light-backdrop: rgba(0, 0, 0, 0.09);
  --charts-map-border: rgba(0,0,0,0.1);
  --charts-map-bg: #484848;
}

._leftNavContainer_10b87_185 {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
  height: 100%;
  width: 50px;
  background-color: var(--gray-light3);
  box-shadow: 1px 0 0 var(--box-shadow);
  transition: width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 {
  display: block;
  overflow: hidden;
  height: 100%;
  margin: 10px 0;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._singleMenu_10b87_204 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 15px 8px 13px;
  margin: 4px 0;
  cursor: pointer;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._singleMenu_10b87_204 ._icon_10b87_213 {
  display: inline-block;
  padding: 2px;
  margin: 0;
  width: 24px;
  height: 24px;
  vertical-align: top;
  min-width: 24px;
  max-width: 24px;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._singleMenu_10b87_204 ._icon_10b87_213 path {
  fill: var(--primary-text);
  fill-rule: evenodd;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._singleMenu_10b87_204 ._text_10b87_227 {
  margin-left: 13px;
  color: var(--primary-text);
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._singleMenu_10b87_204:hover {
  background-color: var(--ui-subtle-hover);
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._singleMenu_10b87_204._selected_10b87_240 {
  background-color: var(--ui-subtle-active);
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._singleMenu_10b87_204._selected_10b87_240 ._text_10b87_227 {
  font-weight: bold;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._singleMenu_10b87_204._selected_10b87_240:before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: 4px;
  height: calc(100% - 13px);
  background: #006fc8;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._groupMenu_10b87_255 {
  position: relative;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._groupMenu_10b87_255 ._groupHeader_10b87_258 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 15px 8px 13px;
  margin: 4px 0;
  cursor: pointer;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._groupMenu_10b87_255 ._groupHeader_10b87_258 ._icon_10b87_213 {
  display: inline-block;
  padding: 2px;
  margin: 0;
  width: 24px;
  height: 24px;
  vertical-align: top;
  min-width: 24px;
  max-width: 24px;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._groupMenu_10b87_255 ._groupHeader_10b87_258 ._icon_10b87_213 path {
  fill: var(--primary-text);
  fill-rule: evenodd;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._groupMenu_10b87_255 ._groupHeader_10b87_258 ._text_10b87_227 {
  margin-left: 13px;
  color: var(--primary-text);
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._groupMenu_10b87_255 ._groupHeader_10b87_258 ._flex_10b87_291 {
  display: block;
  flex-grow: 1;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._groupMenu_10b87_255 ._groupHeader_10b87_258 ._toggle_10b87_295 {
  display: inline-block;
  padding: 2px;
  margin: 0;
  width: 20px;
  height: 20px;
  vertical-align: top;
  min-width: 20px;
  max-width: 20px;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._groupMenu_10b87_255 ._groupHeader_10b87_258 ._toggle_10b87_295 path {
  fill: var(--primary-text);
  fill-rule: evenodd;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._groupMenu_10b87_255 ._groupHeader_10b87_258:hover {
  background-color: var(--ui-subtle-hover);
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._groupMenu_10b87_255 ._groupBody_10b87_312 ._subMenu_10b87_312 {
  position: relative;
  display: block;
  padding: 5px 15px 5px 50px;
  margin: 4px 0;
  cursor: pointer;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._groupMenu_10b87_255 ._groupBody_10b87_312 ._subMenu_10b87_312 ._text_10b87_227 {
  color: var(--primary-text);
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._groupMenu_10b87_255 ._groupBody_10b87_312 ._subMenu_10b87_312:hover {
  background-color: var(--ui-subtle-hover);
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._groupMenu_10b87_255 ._groupBody_10b87_312 ._subMenu_10b87_312._selected_10b87_240 {
  background-color: var(--ui-subtle-active);
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._groupMenu_10b87_255 ._groupBody_10b87_312 ._subMenu_10b87_312._selected_10b87_240 ._text_10b87_227 {
  font-weight: bold;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._groupMenu_10b87_255 ._groupBody_10b87_312 ._subMenu_10b87_312._selected_10b87_240:before {
  position: absolute;
  content: "";
  top: 5px;
  left: 0;
  width: 4px;
  height: calc(100% - 10px);
  background: #006fc8;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._groupMenu_10b87_255._selected_10b87_240 ._groupHeader_10b87_258 ._text_10b87_227 {
  font-weight: bold;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._groupMenu_10b87_255._selected_10b87_240:after {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: 4px;
  height: calc(100% - 13px);
  background-color: var(--alpha-20);
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._groupMenu_10b87_255._selected_10b87_240._collapsed_10b87_358 ._groupHeader_10b87_258 {
  background-color: var(--ui-subtle-active);
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._groupMenu_10b87_255._selected_10b87_240._collapsed_10b87_358:before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: 4px;
  height: calc(100% - 13px);
  background: #006fc8;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._separator_10b87_370 {
  display: block;
  width: 100%;
  height: 20px;
  background-color: inherit;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198 ._separator_10b87_370 ._line_10b87_376 {
  position: relative;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: var(--alpha-20);
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198:hover {
  overflow-y: auto;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198::-webkit-scrollbar {
  width: 16px;
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: hsl(0, 0%, 37%);
}

._leftNavContainer_10b87_185 ._navMenus_10b87_198::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 67%);
}

._leftNavContainer_10b87_185 ._navFooter_10b87_399 {
  display: flex;
  justify-content: flex-end;
}

._leftNavContainer_10b87_185 ._navFooter_10b87_399 ._button_10b87_403 {
  display: block;
  padding: 16px;
  cursor: pointer;
  user-select: none;
}

._leftNavContainer_10b87_185 ._navFooter_10b87_399 ._button_10b87_403 ._img_10b87_409 {
  width: 16px;
  height: 16px;
  margin: 0;
  fill: var(--primary-text);
  fill-opacity: 0.4;
  fill-rule: evenodd;
}

._leftNavContainer_10b87_185 ._navFooter_10b87_399 ._button_10b87_403:hover ._img_10b87_409 {
  fill-opacity: 0.59;
}

._leftNavContainer_10b87_185._expand_10b87_420 {
  width: 260px;
  z-index: 3;
}

._leftNavContainer_10b87_185._small_10b87_424 {
  position: absolute;
}

._smallWindowExpandedOverlay_10b87_428 {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 100vh;
}:root {
  /* grays */
  --gray-light3: #F8F8F8;
  --gray-2: #fcfcfc;
  --gray-3: #a3a3a3;
  --gray-4: #b5b5b5;
  --gray-5: #c7c7c7;
  --gray-6: #d9d9d9;
  --gray-7: #ebebeb;
  --gray-8: #fcfcfc;
  --secondary-panel: #F2F2F2;
  --alpha-8: rgba(0, 0, 0, .08);
  --alpha-10: rgba(0, 0, 0, .1);
  --alpha-20:rgba(0, 0, 0, .2);
  --alpha-30:rgba(0, 0, 0, .3);
  --alpha-80: rgba(0, 0, 0, .8);
  --primary-text: rgba(0, 0, 0, 0.9);
  --primary-text-invert: rgba(255, 255, 255, 1);
  --secondary-text: rgba(0, 0, 0, 0.82);
  --secondary-text-invert: rgba(255, 255, 255, 0.59);
  --always-light-text: rgba(255, 255, 255, 1);
  --hint-text: rgba(0, 0, 0, 0.38);
  --error-text: #DB0D1F;
  --warning-text: #B55100;
  --success-text: #4D7A14;
  --link-text: #006dc7;
  --link-text-hover: #004578;
  --brand-text: #cb2e63;
  --code-text: #614CA0;
  --chart-count-red: #E81123;
  --chart-count-violet: #614CA0;
  --chart-count-orange: #B55100;
  --code-class-name: #614CA0;
  --code-method: #156C60;
  --code-method-app-code: #007d85;
  --code-method-params: #006fc8;
  --stacktrace-thread-title-crashed: #C43E27;
  --series-text-color: #90720e;
  --enable-text: #416514;
  --delete-text: #DB0D1F;
  --surface-card: #FFFFFF;
  --surface-card-rgb: 255, 255, 255;
  --surface-card-active: #F5FAFF;
  --surface-tile-highlight:#DBEEFF;
  --surface-tile-highlight-active:#CCE6FF;
  --top-bar: var(--surface-card);
  --toast-bd: rgba(0, 0, 0, .65);
  --toast-text: white;
  --action-list: rgba(0, 0, 0, .04);
  --action-list-hover: rgba(0, 0, 0, .1);
  --upload-inset-bg: #F8F8F8;
  --focus-color: rgba(0, 109, 199, 0.75);
  --ui-subtle-hover: rgba(0, 0, 0, 0.04);
  --ui-subtle-active: rgba(0, 0, 0, 0.06);
  --ui-subtle-active-hover: rgba(0, 0, 0, 0.08);
  --ui-divider: rgba(0, 0, 0, 0.15);
  --ui-search: rgba(0, 0, 0, 0.06);
  --ui-toggles: white;
  --ui-toggles-border: rgba(0, 0, 0, 0.19);
  --ui-outline: #DEDEDE;
  --ui-table-row: #EBEBEB;
  --text-field: var(--surface-card);
  --text-field-outline: var(--ui-outline);
  --text-field-disabled: #F2F2F2;
  --grid-container-row: rgba(0, 0, 0, 0.06);
  --box-shadow: rgba(0, 0, 0, 0.1);
  --gray-background: rgba(0,0,0,0.04);
  --error-bg: rgba(248, 197, 186, 0.3);
  --warning-bg: #f8f1d8;
  --info-bg: #DEDEDE;
  --syntax-token1: #008000;
  --syntax-token2: #DF0000;
  --syntax-token3: #a31515;
  --syntax-token4: #001080;
  --syntax-token5: #0000ff;
  --syntax-token6: #795E26;
  --syntax-token7: #811f3f;
  --syntax-token8: #267f99;
  --terminal-bg: #575757;
  --codeblock-bg: #F2F2F2;
  --banner-blue: #CEE5F8;
  --repo-badge-bg: #f7ebb6;
  --highlight-bg: #F9D33C;
  --subhighlight-bg: #F7E28B;
  --clickable-icon-disabled: rgba(0, 0, 0, 0.3);
  --dark-backdrop: rgba(0, 0, 0, 0.12);
  --light-backdrop: rgba(0, 0, 0, 0.03);
  --charts-map-bg: #e5e5e5;
  --charts-map-border: rgba(255,255,255,0.1);
  --charts-cyan: #1faece;
}

html[data-dark-theme=true][data-prefers-color-scheme=dark] {
  /* grays */
  --gray-light3: #212121;
  --gray-2: rgba(255, 255, 255, 0.04);
  --gray-3: #a3a3a3;
  --gray-4: #898989;
  --gray-5: #6f6f6f;
  --gray-6: #555555;
  --gray-7: #3b3b3b;
  --gray-8: #2D2D2D;
  --alpha-8: rgba(255, 255, 255, .08);
  --alpha-10: rgba(255, 255, 255, .1);
  --alpha-20:rgba(255, 255, 255, .2);
  --alpha-30:rgba(255, 255, 255, .3);
  --alpha-80: rgba(255, 255, 255, .8);
  --secondary-panel: #262626;
  /* typography */
  --primary-text: rgba(255, 255, 255, 1);
  --primary-text-invert: rgba(0, 0, 0, 0.9);
  --secondary-text: rgba(255, 255, 255, 0.59);
  --secondary-text-invert: rgba(0, 0, 0, 0.59);
  --hint-text: rgba(255, 255, 255, 0.38);
  --error-text: #FF9090;
  --warning-text: #F0B240;
  --success-text: #91CA47;
  --link-text: #5AB9FF;
  --link-text-hover: #3292e2;
  --brand-text: #F0467E;
  --code-text: #B5A1E0;
  --chart-count-red: #F7737E;
  --chart-count-violet: #B5A1E0;
  --chart-count-orange: #E28A42;
  --code-class-name: #bfaae9;
  --code-method: #3cc0ad;
  --code-method-app-code: #00e1c1;
  --code-method-params: #7eb5e2;
  --stacktrace-thread-title-crashed: #ec9787;
  --series-text-color: #EBC137;
  --enable-text: #a5f042;
  --delete-text: #ff8282;
  /* surface */
  --surface-card: #333333;
  --surface-card-rgb: 51, 51, 51;
  --surface-card-active: #223B59;
  --surface-tile-highlight: #223B59;
  --surface-tile-highlight-active: #2C4C73;
  --top-bar: #1A1A1A;
  --toast-bd: rgba(255, 255, 255, .65);
  --toast-text: rgba(0, 0, 0, 0.9);
  --action-list: rgba(255, 255, 255, .08);
  --action-list-hover: rgba(255, 255, 255, .15);
  --upload-inset-bg: #2E2D2C;
  --focus-color: rgba(90, 185, 255, 0.7);
  --ui-subtle-hover: rgba(255, 255, 255, 0.04);
  --ui-subtle-active: rgba(255, 255, 255, 0.06);
  --ui-subtle-active-hover: rgba(255, 255, 255, 0.08);
  --ui-divider: rgba(255, 255, 255, 0.15);
  --ui-search: #434343;
  --ui-toggles: transparent;
  --ui-toggles-border: rgba(255, 255, 255, 0.32);
  --ui-outline: rgba(255, 255, 255, 0.16);
  --ui-table-row: rgba(255, 255, 255, 0.08);
  --text-field: #424141;
  --text-field-outline: #605E5C;
  --text-field-disabled: #424141;
  --grid-container-row: rgba(255, 255, 255, 0.06);
  --box-shadow: rgba(255, 255, 255, 0.1);
  --gray-background: #424141;
  --error-bg: #6F2722;
  --warning-bg: #6F6022;
  --info-bg: rgba(255,255,255,.08);
  --syntax-token1: #B1B1B1;
  --syntax-token2: #FF6959;
  --syntax-token3: #CD917A;
  --syntax-token4: #599DD4;
  --syntax-token5: #9EDDFC;
  --syntax-token6: #DCDBAC;
  --syntax-token7: #599DD4;
  --syntax-token8: #54C8B0;
  --terminal-bg: #0F0F0F;
  --codeblock-bg: rgba(0,0,0, 0.36);
  --banner-blue: rgba(0, 135, 255, 0.3);
  --repo-badge-bg: #ad9f56;
  --highlight-bg: #D16F00;
  --subhighlight-bg: #E7963B;
  --clickable-icon-disabled: rgba(255, 255, 255, 0.3);
  --dark-backdrop: rgba(0, 0, 0, 0.36);
  --light-backdrop: rgba(0, 0, 0, 0.09);
  --charts-map-border: rgba(0,0,0,0.1);
  --charts-map-bg: #484848;
}

/* stylelint-disable declaration-block-semicolon-newline-after */

/* stylelint-enable declaration-block-semicolon-newline-after */

:export {
  tabletScreen: 768px;
  smallScreen: 1100px;
  mediumScreen: 1300px;
  largeScreen: 1500px;
  azure: #006fc8;
  cyan: #1FAECE;
  primaryText: var(--primary-text);
  secondaryText: var(--secondary-text);
  chartGridColor: var(--ui-divider);
  gray10: #dedede;
  msDarkBlue: #002050;
  amberLight2: #F7E28B;
  violetLight2: #CEC0EC;
  tealLight3: #CFECE8;
  bannerBlue: var(--banner-blue);
  spaceXXS: 4px;
  spaceXS: 8px;
  spaceS: 16px;
  spaceM: 20px;
  spaceXM: 24px;
  spaceL: 32px;
  spaceXL: 40px;
  spaceXXL: 60px;
  panelSlideDuration: 200ms;
  panelFadeDuration: 100ms;
  ccBannerHeight: 46px;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

a, :visited {
  color: var(--link-text);
}

a:hover, :visited:hover {
  color: var(--link-text);
}

html, body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: hidden;
}

html[data-dark-theme=true][data-prefers-color-scheme=dark] body {
  background-color: var(--gray-light3);
  color: var(--primary-text);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--gray-light3);
    color: var(--primary-text);
  }
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: hsl(0, 0%, 37%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 67%);
}:root {
  /* grays */
  --gray-light3: #F8F8F8;
  --gray-2: #fcfcfc;
  --gray-3: #a3a3a3;
  --gray-4: #b5b5b5;
  --gray-5: #c7c7c7;
  --gray-6: #d9d9d9;
  --gray-7: #ebebeb;
  --gray-8: #fcfcfc;
  --secondary-panel: #F2F2F2;
  --alpha-8: rgba(0, 0, 0, .08);
  --alpha-10: rgba(0, 0, 0, .1);
  --alpha-20:rgba(0, 0, 0, .2);
  --alpha-30:rgba(0, 0, 0, .3);
  --alpha-80: rgba(0, 0, 0, .8);
  --primary-text: rgba(0, 0, 0, 0.9);
  --primary-text-invert: rgba(255, 255, 255, 1);
  --secondary-text: rgba(0, 0, 0, 0.82);
  --secondary-text-invert: rgba(255, 255, 255, 0.59);
  --always-light-text: rgba(255, 255, 255, 1);
  --hint-text: rgba(0, 0, 0, 0.38);
  --error-text: #DB0D1F;
  --warning-text: #B55100;
  --success-text: #4D7A14;
  --link-text: #006dc7;
  --link-text-hover: #004578;
  --brand-text: #cb2e63;
  --code-text: #614CA0;
  --chart-count-red: #E81123;
  --chart-count-violet: #614CA0;
  --chart-count-orange: #B55100;
  --code-class-name: #614CA0;
  --code-method: #156C60;
  --code-method-app-code: #007d85;
  --code-method-params: #006fc8;
  --stacktrace-thread-title-crashed: #C43E27;
  --series-text-color: #90720e;
  --enable-text: #416514;
  --delete-text: #DB0D1F;
  --surface-card: #FFFFFF;
  --surface-card-rgb: 255, 255, 255;
  --surface-card-active: #F5FAFF;
  --surface-tile-highlight:#DBEEFF;
  --surface-tile-highlight-active:#CCE6FF;
  --top-bar: var(--surface-card);
  --toast-bd: rgba(0, 0, 0, .65);
  --toast-text: white;
  --action-list: rgba(0, 0, 0, .04);
  --action-list-hover: rgba(0, 0, 0, .1);
  --upload-inset-bg: #F8F8F8;
  --focus-color: rgba(0, 109, 199, 0.75);
  --ui-subtle-hover: rgba(0, 0, 0, 0.04);
  --ui-subtle-active: rgba(0, 0, 0, 0.06);
  --ui-subtle-active-hover: rgba(0, 0, 0, 0.08);
  --ui-divider: rgba(0, 0, 0, 0.15);
  --ui-search: rgba(0, 0, 0, 0.06);
  --ui-toggles: white;
  --ui-toggles-border: rgba(0, 0, 0, 0.19);
  --ui-outline: #DEDEDE;
  --ui-table-row: #EBEBEB;
  --text-field: var(--surface-card);
  --text-field-outline: var(--ui-outline);
  --text-field-disabled: #F2F2F2;
  --grid-container-row: rgba(0, 0, 0, 0.06);
  --box-shadow: rgba(0, 0, 0, 0.1);
  --gray-background: rgba(0,0,0,0.04);
  --error-bg: rgba(248, 197, 186, 0.3);
  --warning-bg: #f8f1d8;
  --info-bg: #DEDEDE;
  --syntax-token1: #008000;
  --syntax-token2: #DF0000;
  --syntax-token3: #a31515;
  --syntax-token4: #001080;
  --syntax-token5: #0000ff;
  --syntax-token6: #795E26;
  --syntax-token7: #811f3f;
  --syntax-token8: #267f99;
  --terminal-bg: #575757;
  --codeblock-bg: #F2F2F2;
  --banner-blue: #CEE5F8;
  --repo-badge-bg: #f7ebb6;
  --highlight-bg: #F9D33C;
  --subhighlight-bg: #F7E28B;
  --clickable-icon-disabled: rgba(0, 0, 0, 0.3);
  --dark-backdrop: rgba(0, 0, 0, 0.12);
  --light-backdrop: rgba(0, 0, 0, 0.03);
  --charts-map-bg: #e5e5e5;
  --charts-map-border: rgba(255,255,255,0.1);
  --charts-cyan: #1faece;
}

html[data-dark-theme=true][data-prefers-color-scheme=dark] {
  /* grays */
  --gray-light3: #212121;
  --gray-2: rgba(255, 255, 255, 0.04);
  --gray-3: #a3a3a3;
  --gray-4: #898989;
  --gray-5: #6f6f6f;
  --gray-6: #555555;
  --gray-7: #3b3b3b;
  --gray-8: #2D2D2D;
  --alpha-8: rgba(255, 255, 255, .08);
  --alpha-10: rgba(255, 255, 255, .1);
  --alpha-20:rgba(255, 255, 255, .2);
  --alpha-30:rgba(255, 255, 255, .3);
  --alpha-80: rgba(255, 255, 255, .8);
  --secondary-panel: #262626;
  /* typography */
  --primary-text: rgba(255, 255, 255, 1);
  --primary-text-invert: rgba(0, 0, 0, 0.9);
  --secondary-text: rgba(255, 255, 255, 0.59);
  --secondary-text-invert: rgba(0, 0, 0, 0.59);
  --hint-text: rgba(255, 255, 255, 0.38);
  --error-text: #FF9090;
  --warning-text: #F0B240;
  --success-text: #91CA47;
  --link-text: #5AB9FF;
  --link-text-hover: #3292e2;
  --brand-text: #F0467E;
  --code-text: #B5A1E0;
  --chart-count-red: #F7737E;
  --chart-count-violet: #B5A1E0;
  --chart-count-orange: #E28A42;
  --code-class-name: #bfaae9;
  --code-method: #3cc0ad;
  --code-method-app-code: #00e1c1;
  --code-method-params: #7eb5e2;
  --stacktrace-thread-title-crashed: #ec9787;
  --series-text-color: #EBC137;
  --enable-text: #a5f042;
  --delete-text: #ff8282;
  /* surface */
  --surface-card: #333333;
  --surface-card-rgb: 51, 51, 51;
  --surface-card-active: #223B59;
  --surface-tile-highlight: #223B59;
  --surface-tile-highlight-active: #2C4C73;
  --top-bar: #1A1A1A;
  --toast-bd: rgba(255, 255, 255, .65);
  --toast-text: rgba(0, 0, 0, 0.9);
  --action-list: rgba(255, 255, 255, .08);
  --action-list-hover: rgba(255, 255, 255, .15);
  --upload-inset-bg: #2E2D2C;
  --focus-color: rgba(90, 185, 255, 0.7);
  --ui-subtle-hover: rgba(255, 255, 255, 0.04);
  --ui-subtle-active: rgba(255, 255, 255, 0.06);
  --ui-subtle-active-hover: rgba(255, 255, 255, 0.08);
  --ui-divider: rgba(255, 255, 255, 0.15);
  --ui-search: #434343;
  --ui-toggles: transparent;
  --ui-toggles-border: rgba(255, 255, 255, 0.32);
  --ui-outline: rgba(255, 255, 255, 0.16);
  --ui-table-row: rgba(255, 255, 255, 0.08);
  --text-field: #424141;
  --text-field-outline: #605E5C;
  --text-field-disabled: #424141;
  --grid-container-row: rgba(255, 255, 255, 0.06);
  --box-shadow: rgba(255, 255, 255, 0.1);
  --gray-background: #424141;
  --error-bg: #6F2722;
  --warning-bg: #6F6022;
  --info-bg: rgba(255,255,255,.08);
  --syntax-token1: #B1B1B1;
  --syntax-token2: #FF6959;
  --syntax-token3: #CD917A;
  --syntax-token4: #599DD4;
  --syntax-token5: #9EDDFC;
  --syntax-token6: #DCDBAC;
  --syntax-token7: #599DD4;
  --syntax-token8: #54C8B0;
  --terminal-bg: #0F0F0F;
  --codeblock-bg: rgba(0,0,0, 0.36);
  --banner-blue: rgba(0, 135, 255, 0.3);
  --repo-badge-bg: #ad9f56;
  --highlight-bg: #D16F00;
  --subhighlight-bg: #E7963B;
  --clickable-icon-disabled: rgba(255, 255, 255, 0.3);
  --dark-backdrop: rgba(0, 0, 0, 0.36);
  --light-backdrop: rgba(0, 0, 0, 0.09);
  --charts-map-border: rgba(0,0,0,0.1);
  --charts-map-bg: #484848;
}

._shell_bv7ze_185 {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

._shell_bv7ze_185 ._header_bv7ze_190 {
  display: block;
  position: relative;
  z-index: 2;
  background-color: var(--top-bar);
  box-shadow: 0 1px 0 0 var(--box-shadow);
}

._shell_bv7ze_185 ._main_bv7ze_197 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
  z-index: 1;
  width: 100%;
}

._shell_bv7ze_185 ._main_bv7ze_197 ._nav_bv7ze_205 {
  position: relative;
  z-index: 2;
  height: calc(100vh - 48px);
}

._shell_bv7ze_185 ._main_bv7ze_197 ._content_bv7ze_210 {
  position: relative;
  width: 100%;
  margin-left: 0px;
  height: calc(100vh - 48px);
  display: inline-flex;
  flex-direction: column;
  z-index: 1;
}

@media (max-width: 1300px) {
  ._shell_bv7ze_185 ._main_bv7ze_197 ._content_bv7ze_210 {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: calc(100% - 50px);
    margin-left: 50px;
  }
}._error-container_1p2xm_1 {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 400px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
._error-container_1p2xm_1 h1 {
  font-size: 24px;
  color: #ff0000;
  margin-bottom: 10px;
}
._error-container_1p2xm_1 p {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}
._error-container_1p2xm_1 ._error-button_1p2xm_21 {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
._error-container_1p2xm_1 ._error-button_1p2xm_21:hover {
  background-color: #0056b3;
}

._teapot_1p2xm_35 {
  font-size: 48px;
}:root {
  /* grays */
  --gray-light3: #F8F8F8;
  --gray-2: #fcfcfc;
  --gray-3: #a3a3a3;
  --gray-4: #b5b5b5;
  --gray-5: #c7c7c7;
  --gray-6: #d9d9d9;
  --gray-7: #ebebeb;
  --gray-8: #fcfcfc;
  --secondary-panel: #F2F2F2;
  --alpha-8: rgba(0, 0, 0, .08);
  --alpha-10: rgba(0, 0, 0, .1);
  --alpha-20:rgba(0, 0, 0, .2);
  --alpha-30:rgba(0, 0, 0, .3);
  --alpha-80: rgba(0, 0, 0, .8);
  --primary-text: rgba(0, 0, 0, 0.9);
  --primary-text-invert: rgba(255, 255, 255, 1);
  --secondary-text: rgba(0, 0, 0, 0.82);
  --secondary-text-invert: rgba(255, 255, 255, 0.59);
  --always-light-text: rgba(255, 255, 255, 1);
  --hint-text: rgba(0, 0, 0, 0.38);
  --error-text: #DB0D1F;
  --warning-text: #B55100;
  --success-text: #4D7A14;
  --link-text: #006dc7;
  --link-text-hover: #004578;
  --brand-text: #cb2e63;
  --code-text: #614CA0;
  --chart-count-red: #E81123;
  --chart-count-violet: #614CA0;
  --chart-count-orange: #B55100;
  --code-class-name: #614CA0;
  --code-method: #156C60;
  --code-method-app-code: #007d85;
  --code-method-params: #006fc8;
  --stacktrace-thread-title-crashed: #C43E27;
  --series-text-color: #90720e;
  --enable-text: #416514;
  --delete-text: #DB0D1F;
  --surface-card: #FFFFFF;
  --surface-card-rgb: 255, 255, 255;
  --surface-card-active: #F5FAFF;
  --surface-tile-highlight:#DBEEFF;
  --surface-tile-highlight-active:#CCE6FF;
  --top-bar: var(--surface-card);
  --toast-bd: rgba(0, 0, 0, .65);
  --toast-text: white;
  --action-list: rgba(0, 0, 0, .04);
  --action-list-hover: rgba(0, 0, 0, .1);
  --upload-inset-bg: #F8F8F8;
  --focus-color: rgba(0, 109, 199, 0.75);
  --ui-subtle-hover: rgba(0, 0, 0, 0.04);
  --ui-subtle-active: rgba(0, 0, 0, 0.06);
  --ui-subtle-active-hover: rgba(0, 0, 0, 0.08);
  --ui-divider: rgba(0, 0, 0, 0.15);
  --ui-search: rgba(0, 0, 0, 0.06);
  --ui-toggles: white;
  --ui-toggles-border: rgba(0, 0, 0, 0.19);
  --ui-outline: #DEDEDE;
  --ui-table-row: #EBEBEB;
  --text-field: var(--surface-card);
  --text-field-outline: var(--ui-outline);
  --text-field-disabled: #F2F2F2;
  --grid-container-row: rgba(0, 0, 0, 0.06);
  --box-shadow: rgba(0, 0, 0, 0.1);
  --gray-background: rgba(0,0,0,0.04);
  --error-bg: rgba(248, 197, 186, 0.3);
  --warning-bg: #f8f1d8;
  --info-bg: #DEDEDE;
  --syntax-token1: #008000;
  --syntax-token2: #DF0000;
  --syntax-token3: #a31515;
  --syntax-token4: #001080;
  --syntax-token5: #0000ff;
  --syntax-token6: #795E26;
  --syntax-token7: #811f3f;
  --syntax-token8: #267f99;
  --terminal-bg: #575757;
  --codeblock-bg: #F2F2F2;
  --banner-blue: #CEE5F8;
  --repo-badge-bg: #f7ebb6;
  --highlight-bg: #F9D33C;
  --subhighlight-bg: #F7E28B;
  --clickable-icon-disabled: rgba(0, 0, 0, 0.3);
  --dark-backdrop: rgba(0, 0, 0, 0.12);
  --light-backdrop: rgba(0, 0, 0, 0.03);
  --charts-map-bg: #e5e5e5;
  --charts-map-border: rgba(255,255,255,0.1);
  --charts-cyan: #1faece;
}

html[data-dark-theme=true][data-prefers-color-scheme=dark] {
  /* grays */
  --gray-light3: #212121;
  --gray-2: rgba(255, 255, 255, 0.04);
  --gray-3: #a3a3a3;
  --gray-4: #898989;
  --gray-5: #6f6f6f;
  --gray-6: #555555;
  --gray-7: #3b3b3b;
  --gray-8: #2D2D2D;
  --alpha-8: rgba(255, 255, 255, .08);
  --alpha-10: rgba(255, 255, 255, .1);
  --alpha-20:rgba(255, 255, 255, .2);
  --alpha-30:rgba(255, 255, 255, .3);
  --alpha-80: rgba(255, 255, 255, .8);
  --secondary-panel: #262626;
  /* typography */
  --primary-text: rgba(255, 255, 255, 1);
  --primary-text-invert: rgba(0, 0, 0, 0.9);
  --secondary-text: rgba(255, 255, 255, 0.59);
  --secondary-text-invert: rgba(0, 0, 0, 0.59);
  --hint-text: rgba(255, 255, 255, 0.38);
  --error-text: #FF9090;
  --warning-text: #F0B240;
  --success-text: #91CA47;
  --link-text: #5AB9FF;
  --link-text-hover: #3292e2;
  --brand-text: #F0467E;
  --code-text: #B5A1E0;
  --chart-count-red: #F7737E;
  --chart-count-violet: #B5A1E0;
  --chart-count-orange: #E28A42;
  --code-class-name: #bfaae9;
  --code-method: #3cc0ad;
  --code-method-app-code: #00e1c1;
  --code-method-params: #7eb5e2;
  --stacktrace-thread-title-crashed: #ec9787;
  --series-text-color: #EBC137;
  --enable-text: #a5f042;
  --delete-text: #ff8282;
  /* surface */
  --surface-card: #333333;
  --surface-card-rgb: 51, 51, 51;
  --surface-card-active: #223B59;
  --surface-tile-highlight: #223B59;
  --surface-tile-highlight-active: #2C4C73;
  --top-bar: #1A1A1A;
  --toast-bd: rgba(255, 255, 255, .65);
  --toast-text: rgba(0, 0, 0, 0.9);
  --action-list: rgba(255, 255, 255, .08);
  --action-list-hover: rgba(255, 255, 255, .15);
  --upload-inset-bg: #2E2D2C;
  --focus-color: rgba(90, 185, 255, 0.7);
  --ui-subtle-hover: rgba(255, 255, 255, 0.04);
  --ui-subtle-active: rgba(255, 255, 255, 0.06);
  --ui-subtle-active-hover: rgba(255, 255, 255, 0.08);
  --ui-divider: rgba(255, 255, 255, 0.15);
  --ui-search: #434343;
  --ui-toggles: transparent;
  --ui-toggles-border: rgba(255, 255, 255, 0.32);
  --ui-outline: rgba(255, 255, 255, 0.16);
  --ui-table-row: rgba(255, 255, 255, 0.08);
  --text-field: #424141;
  --text-field-outline: #605E5C;
  --text-field-disabled: #424141;
  --grid-container-row: rgba(255, 255, 255, 0.06);
  --box-shadow: rgba(255, 255, 255, 0.1);
  --gray-background: #424141;
  --error-bg: #6F2722;
  --warning-bg: #6F6022;
  --info-bg: rgba(255,255,255,.08);
  --syntax-token1: #B1B1B1;
  --syntax-token2: #FF6959;
  --syntax-token3: #CD917A;
  --syntax-token4: #599DD4;
  --syntax-token5: #9EDDFC;
  --syntax-token6: #DCDBAC;
  --syntax-token7: #599DD4;
  --syntax-token8: #54C8B0;
  --terminal-bg: #0F0F0F;
  --codeblock-bg: rgba(0,0,0, 0.36);
  --banner-blue: rgba(0, 135, 255, 0.3);
  --repo-badge-bg: #ad9f56;
  --highlight-bg: #D16F00;
  --subhighlight-bg: #E7963B;
  --clickable-icon-disabled: rgba(255, 255, 255, 0.3);
  --dark-backdrop: rgba(0, 0, 0, 0.36);
  --light-backdrop: rgba(0, 0, 0, 0.09);
  --charts-map-border: rgba(0,0,0,0.1);
  --charts-map-bg: #484848;
}

._container_cm2mx_185 {
  position: relative;
  display: grid;
  grid-template-rows: auto 100% auto auto;
  grid-template-columns: 100% auto auto;
  width: 100%;
  height: 100%;
  background-color: var(--gray-8);
  box-shadow: -1px 0px 0 0 var(--box-shadow);
  box-sizing: border-box;
}

/* Page Header */

._top_cm2mx_198 {
  position: relative;
  grid-column: 1/4;
  grid-row: 1/2;
}

._top_cm2mx_198._shadow_cm2mx_203 {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Page Main Content */

._main_cm2mx_208 {
  position: relative;
  grid-column: 1/2;
  grid-row: 2/3;
}

._main_cm2mx_208 ._content_cm2mx_213 {
  width: 100%;
  height: 100%;
  display: block;
  overflow: auto;
}

._main_cm2mx_208 ._content_cm2mx_213 ._title_cm2mx_219 {
  display: block;
  flex: 0 0 auto;
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 12px;
  font-size: 21px;
  font-weight: 600;
  line-height: 32px;
  color: var(--primary-text);
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

._main_cm2mx_208 ._content_cm2mx_213::-webkit-scrollbar {
  width: 16px;
}

._main_cm2mx_208 ._content_cm2mx_213::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: hsl(0, 0%, 37%);
}

._main_cm2mx_208 ._content_cm2mx_213::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 67%);
}

._main_cm2mx_208 ._scrollTop_cm2mx_246 {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 45px;
  height: 45px;
  right: 30px;
  bottom: 20px;
  z-index: 5;
  background-color: var(--gray-light3);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  cursor: pointer;
}

._main_cm2mx_208 ._scrollTop_cm2mx_246 ._icon_cm2mx_262 {
  width: 25px;
  height: 25px;
  fill: var(--primary-text);
  fill-rule: evenodd;
}

._main_cm2mx_208 ._scrollTop_cm2mx_246:hover {
  background-color: var(--gray-6);
}

._main_cm2mx_208 ._scrollTop_cm2mx_246:active {
  scale: 0.9;
}

/* Page Panels Styles */

._panel_cm2mx_276 {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--gray-8);
  box-sizing: border-box;
}

._panel_cm2mx_276._fixed_cm2mx_283 {
  position: relative;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}

._panel_cm2mx_276._fixed_cm2mx_283 ._panelHead_cm2mx_290 ._button_cm2mx_290._pin_cm2mx_290 {
  rotate: -45deg;
}

._panel_cm2mx_276 ._resize_cm2mx_293 {
  position: absolute;
  content: "";
}

._panel_cm2mx_276 ._resize_cm2mx_293._active_cm2mx_297 {
  background-color: var(--gray-3);
}

._panel_cm2mx_276 ._resize_cm2mx_293:hover {
  background-color: var(--gray-3);
}

._panel_cm2mx_276 ._panelHead_cm2mx_290 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 10px;
  padding: 0px 10px;
  align-items: center;
  height: 26px;
  background-color: var(--gray-background);
}

._panel_cm2mx_276 ._panelHead_cm2mx_290 ._title_cm2mx_219 {
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._panel_cm2mx_276 ._panelHead_cm2mx_290 ._flex_cm2mx_320 {
  flex: 1;
}

._panel_cm2mx_276 ._panelHead_cm2mx_290 ._button_cm2mx_290 {
  width: 16px;
  height: 16px;
  fill: var(--primary-text);
  fill-rule: evenodd;
  cursor: pointer;
}

._panel_cm2mx_276 ._panelHead_cm2mx_290 ._button_cm2mx_290._pin_cm2mx_290 {
  width: 14px;
  height: 14px;
  rotate: 45deg;
}

._panel_cm2mx_276 ._panelHead_cm2mx_290 ._button_cm2mx_290:hover {
  opacity: 0.5;
}

._panel_cm2mx_276 ._panelContent_cm2mx_338 {
  display: block;
  width: 100%;
  height: calc(100% - 26px);
  overflow: auto;
}

/* Right Panel Style */

._panel_cm2mx_276._right_cm2mx_346 {
  grid-column: 2/3;
  grid-row: 2/5;
  border-left: 2px solid var(--ui-outline);
  max-width: 500px;
  height: 100%;
  right: 0px;
  top: 0px;
  z-index: 8;
}

._panel_cm2mx_276._right_cm2mx_346 ._resize_cm2mx_293 {
  top: 0px;
  left: -2px;
  width: 4px;
  height: 100vh;
  cursor: col-resize;
}

/* Bottom Panel Style */

._panel_cm2mx_276._bottom_cm2mx_365 {
  grid-column: 1/2;
  grid-row: 3/4;
  border-top: 2px solid var(--ui-outline);
  max-height: 250px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  z-index: 7;
}

._panel_cm2mx_276._bottom_cm2mx_365 ._resize_cm2mx_293 {
  top: -2px;
  left: 0px;
  width: 100%;
  height: 4px;
  cursor: row-resize;
}

/* Tab Menu Style */

._menu_cm2mx_384 {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  overflow: hidden;
  user-select: none;
  box-sizing: border-box;
}

._menu_cm2mx_384 ._tab_cm2mx_394 {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
}

._menu_cm2mx_384 ._tab_cm2mx_394:hover {
  color: #2196F3;
}

._menu_cm2mx_384 ._tab_cm2mx_394:hover::after {
  background-color: #2196F3;
}

._menu_cm2mx_384 ._tab_cm2mx_394._active_cm2mx_297 {
  color: #2196F3;
}

._menu_cm2mx_384 ._tab_cm2mx_394._active_cm2mx_297::after {
  background-color: #2196F3;
}

._menu_cm2mx_384 ._tab_cm2mx_394::after {
  display: block;
  position: absolute;
  content: "";
  background-color: var(--gray-3);
}

/* Right Menu Style */

._menu_cm2mx_384._right_cm2mx_346 {
  grid-column: 3/4;
  grid-row: 2/5;
  flex-flow: column nowrap;
  width: 26px;
  height: 100%;
  padding: 10px 0px;
  border-left: 1px solid var(--ui-outline);
}

._menu_cm2mx_384._right_cm2mx_346 ._tab_cm2mx_394 {
  padding: 6px 8px 6px 5px;
  writing-mode: vertical-rl;
}

._menu_cm2mx_384._right_cm2mx_346 ._tab_cm2mx_394::after {
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
}

/* Bottom Menu Style */

._menu_cm2mx_384._bottom_cm2mx_365 {
  grid-column: 1/2;
  grid-row: 4/5;
  flex-flow: row nowrap;
  width: 100%;
  height: 26px;
  padding: 0px 10px;
  border-top: 1px solid var(--ui-outline);
}

._menu_cm2mx_384._bottom_cm2mx_365 ._tab_cm2mx_394 {
  padding: 5px 6px 8px 6px;
}

._menu_cm2mx_384._bottom_cm2mx_365 ._tab_cm2mx_394::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
}